@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    line-height: 2em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-feature-settings: "palt";
    --font-size18: 18px;
    --font-size20: 20px;
    --font-size48: 48px;
}

p {
    text-align: justify;
}

a {
    /*下線を消す*/
    color: inherit;
    text-decoration: none;
    /*色を消す*/
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

li {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    border: none;
    vertical-align: bottom;
}

body {
    background-color: #f3e9cf;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;
    padding: 4% 11%;
}

.nav_logo img {
    display: block;
    width: 100%;
}

.pc_nav ul {
    display: flex;
    column-gap: 60px;
}

.pc_nav li img {
    display: block;
}

.li_about img {
    width: 66px;
    /* width: 6%; */
}

.li_works img {
    width: 72px;
    /* width: 7%; */
}

.li_contact img {
    width: 89px;
    /* width: 8%; */
    quotes: inherit;
}
.nav_list li:last-child {
    padding-right: 0px;
}

.sp_nav {
    display: none;
}

/* mainセクション */
.inner {
    max-width: 1366px;
    margin: 0 auto;
}

/* footerセクション */
footer {
    max-width: 1366px;
    margin: 0 auto;
    padding-top: 1%;
}

.footer_shape_wrap {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
    height: 17px;
}

.footer_shape01 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    /* width: 54%; */
}

.footer_shape {
    position: absolute;
    top: -1920%;
    left: 53%;
    width: 12%;
}

.footer_shape02 {
    position: absolute;
    top: -65px;
    /* right: 35%; */
    width: 43%;
}

.footer_shape03 {
    position: absolute;
    bottom: 141px;
    left: 20%;
    width: 12%;
}

.footer_inner {
    position: relative;
    max-width: 1100px;
    margin: 0 10%;
    z-index: 1;
}

.footer_button_wrap {
    padding-top: 10%;
}

.footer_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 224px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background: #f46159;
    text-align: center;
}

.footer_button::before {
    position: absolute;
    top: 41%;
    left: 30px;
    width: 6px;
    height: 10px;
    background-image: url(../images/icon_arrow_left.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    content: "";
}

.footer_button img {
    width: 56%;
}

.footer_nav {
    text-align: center;
    padding-top: 4%;
}

.footer_nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer_copy {
    padding: 5% 0 20px 0;
    text-align: center;
}

.footer_copy img {
    width: 209px;
}

.top {
    position: fixed;
    right: 60px;
    bottom: 20px;
    z-index: 1;
    width: 151px;
    height: 151px;
    padding: 10px 15px;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    /* ハンバーガーメニュー */
    .sp_btn {
        --opacity: 1;
        --rotate: 0;
        --translateY: 1.5rem;
        display: grid;
        place-items: center;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 2;
        width: 122px;
        height: 118px;
        border-bottom-left-radius: 18px;
        background-color: #321d0b;
        cursor: pointer;
    }

    /* .is-activeクラスが追加されたときのスタイル */
    .sp_btn.is-active {
        --opacity: 0;
        --rotate: 45deg;
        --translateY: 0;
    }

    .sp_btn span {
        display: block;
        position: relative;
        width: 64px;
        height: 5px;
        border-radius: 2px;
        background-color: #f4ead0;
        grid-area: 1 / 1 / -1 / -1;
        transition: opacity 0.4s ease, rotate 0.4s ease, translate 0.4s ease;
    }

    .sp_btn span:nth-child(1) {
        opacity: var(--opacity);
    }

    .sp_btn span:nth-child(2) {
        translate: 0 var(--translateY);
        rotate: var(--rotate);
    }

    .sp_btn span:nth-child(3) {
        translate: 0 calc(var(--translateY) * -1);
        rotate: calc(var(--rotate) * -1);
    }
}

@media screen and (min-width: 1100px) {
    .sp_btn {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .footer_shape01 {
        display: none;
    }

    .footer_shape_sp {
        position: absolute;
        bottom: 0px;
    }

    .footer_shape03 {
        display: none;
    }

    .footer_inner {
        margin: 77% 88px 42px 88px;
    }

    .footer_button {
        width: 322px;
        height: 102px;
        border-radius: 51px;
    }

    .footer_button img {
        width: 61%;
    }

    .footer_button::before {
        top: 39%;
        width: 12px;
        height: 20px;
    }

    .footer_nav {
        padding-top: 10%;
    }

    .li_about img {
        width: 86px;
    }

    .li_works img {
        width: 94px;
    }

    .li_contact img {
        width: 116px;
    }

    .footer_copy {
        padding: 7% 0 20px 0;
    }
}
