@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    line-height: 1em;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-feature-settings: "palt";
}

p {
    text-align: justify;
}

a {
    /*下線を消す*/
    color: inherit;
    text-decoration: none;
    /*色を消す*/
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

li {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    border: none;
    vertical-align: bottom;
}

body {
    background-color: #f3e9cf;
}

html {
    font-size: 62.5%;
}

.indent {
    padding-left: 1em;
}

.inner {
    max-width: 1366px;
    margin: 0 auto;
}

/* クラスにshape付くもの共通 */
.shape {
    position: absolute;
    z-index: -1;
}

/* ヘッダー */
header {
    z-index: 5;
    position: sticky;
    top: 0;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: min(2%, 21px) 11%;
    max-width: 100%;
    background-color: #f3e9cf;
}

.header__logo img {
    display: block;
    width: 50%;
}

.header__nav__pc ul {
    display: flex;
    column-gap: 56px;
}

.header__nav__pc li img {
    display: block;
}

.header__nav__item--about img {
    width: 66px;
}

.header__nav__item--works img {
    width: 72px;
}

.header__nav__item--contact img {
    width: 89px;
    quotes: inherit;
}

/* .nav_list li:last-child {
    padding-right: 0px;
} */

.sp_nav {
    display: none;
}

.intro {
    position: relative;
    max-width: 1100px;
    margin-bottom: 6%;
    padding: 7% 0 0 9%;
    overflow: visible;
}

.intro__title {
    margin-bottom: 2%;
    font-weight: normal;
    font-size: clamp(16px, 5.1244vw, 70px);
}

.intro__title--textEnglish {
    font-size: clamp(10px, 1.4641vw, 18px);
}

.shape--left--orange img {
    margin-right: 5%;
}

/* worksページモックアップ */
.work-img--site {
    margin-bottom: 14%;
    text-align: center;
}

/* モックアップ */
.work-img--site img {
    width: 80%;
}

/* モックアップ */
.work-img--banner {
    margin-bottom: 14%;
    text-align: center;
    filter: drop-shadow(0px 20px 20px rgba(29, 29, 29, 0.1));
}

.work-img--banner img {
    width: 51%;
}

/* worksページテーブル */
.work-detail__wrapper {
    position: relative;
}

.work-detail__inner {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    padding: 0px 9%;
    max-width: 1100px;
    font-size: min(1.4641vw, 20px);
}

.work-detail__inner dl {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
}

.work-detail__inner dt {
    width: 30%;
    line-height: 1.8; /* ddと揃える */
    font-weight: normal;
}

.work-detail__inner dd {
    width: 70%;
    line-height: 1.8;
}

/* デザインカンプ */
.design-comp__wrapper {
    position: relative;
    margin-top: 9%;
}

.design-comp__inner {
    text-align: center;
}

.design-comp__img img {
    filter: drop-shadow(0px 20px 20px rgba(29, 29, 29, 0.1));
    width: 51%;
}

/* worksセクション */
#works {
    position: relative;
    margin-top: 21%;
    padding-top: 7%;
}

.works__inner {
    padding: 0px 10%;
}

.works__title {
    text-align: center;
    margin-bottom: 4%;
}

.works__title img {
    width: 42%;
}

.works-list__inner {
    gap: min(7.1742vw, 98px) 7%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.works-list__item {
    /* width: 28%; */
}

.works-list__img {
    margin-bottom: 10px;
}

.works-list__title {
    margin-bottom: 7px;
    font-size: min(1.1713vw, 16px);
    font-weight: normal;
}

.works-list__tool {
    font-size: min(1.0248vw, 14px);
}

/* footerセクション */
footer {
    max-width: 1366px;
    margin: 0 auto;
    padding-top: 11%;
}

.footer {
    max-width: 1100px;
    margin: 0 10%;
}

.footer__btn {
    margin-bottom: 7%;
}

.footer__btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: clamp(150px, 17vw, 224px);
    height: clamp(40px, 5vw, 60px);
    border: none;
    border-radius: 30px;
    background: #f46159;
    text-align: center;
}

.footer__btn-link::before {
    position: absolute;
    top: 41%;
    left: 3.6vw;
    width: 6px;
    height: 10px;
    background-image: url(../images/icon_arrow_left.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    content: "";
}

.footer__btn-link img {
    width: 56%;
}

.footer__shape-area {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

/* 背景シェイプ */
.footer__shape--bg-01 {
    width: 43%;
    bottom: 0px;
}

.footer__shape--bg-02 {
    width: 71%;
    bottom: 0px;
}

.footer__nav {
    margin-bottom: 6%;
    text-align: center;
}

.footer__nav ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer__nav__item--about img {
    width: 66px;
}

.footer__nav__item--works img {
    width: 72px;
}

.footer__nav__item--contact img {
    width: 89px;
    quotes: inherit;
}

.footer__copy {
    margin-bottom: 13px;
    text-align: center;
}

.footer__copy img {
    width: 209px;
}

/* top */
.top {
    position: fixed;
    right: 4%;
    bottom: 6%;
    z-index: 1;
    width: 151px;
    height: 6%;
    padding: 10px 15px;
}

@media screen and (max-width: 1200px) {
    /* 見出し */
    /* オレンジのシェイプ */
    .shape--left-orange {
        left: 85%;
    }
}

@media screen and (min-width: 767px) {
    .sp_btn {
        display: none;
    }

    .header__nav__sp {
        display: none;
    }

    .works__title--sp {
        display: none;
    }

    .design-comp__img--sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /* ハンバーガーメニュー */
    .sp_btn {
        --opacity: 1;
        --rotate: 0;
        --translateY: clamp(0.1rem, 2vw, 1.5rem);
        display: grid;
        place-items: center;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 2;
        width: 15.9268vw;
        height: 14vw;
        border-bottom-left-radius: 3.3177vw; /* 18px */
        background-color: #321d0b;
        cursor: pointer;
    }

    /* .is-activeクラスが追加されたときのスタイル */
    .sp_btn.is-active {
        --opacity: 0;
        --rotate: 45deg;
        --translateY: 0;
    }

    .sp_btn span {
        display: block;
        position: relative;
        width: 8.355vw;
        height: 0.6527vw;
        border-radius: 2px;
        background-color: #f4ead0;
        grid-area: 1 / 1 / -1 / -1;
        transition: opacity 0.4s ease, rotate 0.4s ease, translate 0.4s ease;
    }

    .sp_btn span:nth-child(1) {
        opacity: var(--opacity);
    }

    .sp_btn span:nth-child(2) {
        translate: 0 var(--translateY);
        rotate: var(--rotate);
    }

    .sp_btn span:nth-child(3) {
        translate: 0 calc(var(--translateY) * -1);
        rotate: calc(var(--rotate) * -1);
    }

    /* スマホ用ナビのスタイル */
    .header__nav__sp {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #321d0b;
        background-image: url("../images/hamburger-menu@2x-100.webp"); /* ここに背景画像を適用 */
        background-size: cover; /* 画像を画面全体にフィット */
        background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
        z-index: 2;
    }

    /* メニュー表示時 */
    .header__nav__sp.is-open {
        transform: translateX(0);
    }

    /* メニュー項目のスタイル */
    .header__nav__sp ul {
        list-style: none;
        text-align: center;
    }

    .header__nav__sp li {
        margin-bottom: 8vw;
    }

    .header__nav__sp li:last-child {
        margin-bottom: 0;
    }

    .header__nav__sp a {
        color: #f4ead0;
        font-size: 24px;
        text-decoration: none;
    }

    .header__nav__sp .header__nav__item--home img {
        width: 28%;
    }

    .header__nav__sp .header__nav__item--about img {
        width: 30%;
    }

    .header__nav__sp .header__nav__item--works img {
        width: 34%;
    }

    .header__nav__sp .header__nav__item--contact img {
        width: 39%;
    }

    /* ヘッダー */
    .header {
        padding: 3% 12%;
    }

    .header__logo {
        width: 15%;
    }

    .header__logo img {
        width: 100%;
    }

    /* ヘッダー */
    .header__nav__pc {
        display: none;
    }

    /* worksページ見出し */
    .intro {
        margin-bottom: 21%;
        padding: 11% 0 0 11%;
    }

    /* shape--left--orangeシェイプ隠す */
    .intro .shape--left-orange-01 {
        display: none;
    }

    .intro__title {
        margin-bottom: 1%;
        font-size: clamp(16px, 5.2151vw, 70px);
    }

    .intro__title--textEnglish {
        font-size: clamp(10px, 1.3037vw, 18px);
    }

    /* モックアップ */
    main .work-img--site img {
        width: 77%;
    }

    main .work-img--site {
        margin-bottom: 24%;
    }

    .work-img--banner {
        margin-bottom: 24%;
    }

    .work-img--banner img {
        width: 77%;
    }

    /* worksページテーブル */
    .work-detail__wrapper .work-detail__inner {
        font-size: 3.3898vw;
        gap: 45px;
        padding: 0px 11%;
        max-width: 590px;
    }

    .work-detail__wrapper .work-detail__inner dl {
        gap: 13px;
        flex-direction: column;
    }

    .work-detail__wrapper .work-detail__inner dt,
    .work-detail__wrapper .work-detail__inner dd {
        width: 100%;
    }

    /* worksページデザインカンプ */
    main .design-comp__wrapper {
        margin-top: 24%;
    }

    .website_designcomp_inner .design-comp__img img {
        width: 77%;
    }

    .design-comp__img img {
        width: 77%;
    }

    .design-comp__inner .design-comp__img {
        display: none;
    }

    .design-comp__img--sp img {
        filter: drop-shadow(0px 20px 20px rgba(29, 29, 29, 0.1));
        width: 77%;
    }

    /* worksセクション */
    main #works__wrapper {
        padding-top: 26%;
    }

    .works__title {
        display: none;
    }

    .works__title--sp {
        margin-bottom: 3%;
        text-align: center;
    }

    .works__title--sp img {
        width: 42%;
    }

    .works-list__inner {
        flex-direction: column;
        gap: 19.7vw;
        margin: 0 auto;
        max-width: 590px;
        justify-content: normal;
        grid-template-columns: none;
    }

    .works-list__item {
        width: 100%;
    }

    .works-list__img {
        margin-bottom: 5%;
    }

    .works-list__title {
        margin-bottom: 2%;
        font-size: 3.3898vw;
    }

    .works-list__tool {
        font-size: 1.3037vw;
    }

    /* footer */
    footer {
        padding-top: min(43%, 327px);
    }

    .footer__btn {
        margin-bottom: 12%;
    }

    .footer__btn-link {
        width: 42.13333vw;
        height: 13.33333vw;
        border-radius: 13.33333vw;
    }

    .footer__btn-link img {
        width: 61%;
    }

    .footer__btn-link::before {
        top: 39%;
        width: 1.5645vw;
        height: 2.6075vh;
    }

    .footer__nav {
        width: 67%;
        margin: 0 auto 9% auto;
    }

    .footer__nav__item--about img {
        width: 86px;
    }

    .footer__nav__item--works img {
        width: 94px;
    }

    .footer__nav__item--contact img {
        width: 116px;
    }

    .footer__copy {
        margin: 0 auto;
        padding-bottom: 2%;
    }

    .footer__copy img {
        width: 33%;
    }

    /* 背景シェイプ */
    .footer__shape--bg-01 {
        width: 61%;
    }

    /* topボタン */
    .top {
        right: 4%;
        bottom: 6%;
        z-index: 1;
        width: 22%;
        height: 9%;
    }
}
