@charset "utf-8";
/* メインビジュアル */
.mv {
    position: relative;
    max-height: calc(100vh - 105px);
    overflow-y: hidden;
}

.mv__img img {
    width: 100%;
}

/* タイトル */
.mv__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    text-align: center;
}

.mv__title img {
    max-width: 70vw;
}

/* aboutセクション */
#about {
    position: relative;
    max-width: 1366px;
    padding-top: 30%;
}

.about__inner {
    display: flex;
}

/* 背景シェイプ */
.shape--left-orange-01 {
    top: 34%;
    right: 2%;
    width: 23%;
}

/* タイトル */
.about__title {
    top: 39%;
    left: 5%;
    width: 7%;
}

.about__container {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    transform: translateX(-2%); /* 少しだけ左にずらす */
}

.about__description {
    background-color: transparent;
    font-size: min(1.4641vw, 20px);
    line-height: 2.5em;
    text-align: center;
    margin-bottom: 13%;
}

/* read_moerボタン */
.about__container .btn {
    margin: 0 auto;
}

.about__container .btn img {
    display: block;
    width: 45%;
    margin: 0 auto;
}

/* skillセクション */
.skill {
    max-width: 1366px;
    padding-top: 14%;
}

.skill__inner {
    position: relative;
    /* height: 1190px; */
    margin: 0 auto;
    /* background-image: url(../images/skill_shape02.svg),
        url(../images/skill_shape01.svg); */
    /* background-position: 0px 189px; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
}

/* 背景シェイプ */
.skill__shape--bg {
    top: -49%;
    width: 100%;
}

/* 黄色のシェイプ */
.shape--left-yellow-04 {
    top: -6%;
    left: 7%;
    width: 15%;
    z-index: 1;
}

/* 背景シェイプ */
.skill__shape--orange-wave {
    width: 90%;
}

/* 黄色と赤のシェイプ */
.shape--red-yellow-05 {
    top: 101%;
    right: 28%;
    width: 8%;
}

/* タイトル */
.skill__title {
    position: absolute;
    top: 8%;
    right: 5%;
    width: 8%;
}

.skill__list {
    display: flex;
    gap: 10%;
    max-width: 1100px;
    margin: 0 10%;
    padding-top: 14%;
}

.skill__list img {
    width: 60%; /* 丸いアイコンのサイズ調整 */
    margin-bottom: 7%;
}

.skill__item {
    width: 40%;
    text-align: center;
}

.skill__item--coding {
    padding-top: 18%;
}

.skill__subtitle {
    background-color: transparent;
    font-size: min(2.6354vw, 36px);
    font-weight: normal;
    margin-bottom: 4%;
}

.skill__description {
    background-color: transparent;
    font-size: min(1.3177vw, 18px);
    line-height: 1.944em;
    margin-bottom: 5%;
}

.skill__tools-title {
    background-color: transparent;
    text-align: center;
    font-size: min(1.4641vw, 20px);
    margin-bottom: 3%;
}

.skill__tools--small {
    display: flex;
    justify-content: center;
    gap: min(0.8vw, 14px);
}

.skill__tools {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: min(0.8vw, 14px);
}

.skill__tools p.skill__tool,
.skill__tools--small p.skill__tool {
    width: 7.3em;
    height: 2.6em;
    border-radius: 0.366vw;
    background-color: #f3e9cf;
    font-size: min(1.3177vw, 18px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* worksセクション */
#works {
    margin-top: 17%;
    padding-top: 10%;
}

/* 黄色のシェイプ */
.shape--light-yellow-02 {
    top: 23%;
    left: 29%;
    width: 13%;
}

/* オレンジのシェイプ */
.shape--right-orange-01 {
    top: 109%;
    left: 10%;
    width: 17%;
}

/* contactセクション */
#contact {
    max-width: 1366px;
    /* height: 1280px; */
    /* margin: 8% auto 0; */
    padding-top: 7%;
}

.contact__inner {
    position: relative;
    margin: 0 auto;
}

/* 背景シェイプ */
.contact__shape--orange-wave {
    width: 100%;
}

/* 黄色のシェイプ */
.shape--left-yellow-03 {
    top: 106%;
    right: 38%;
    width: 10%;
}

.contact__title {
    margin-bottom: 4%;
    padding-top: 20%;
    text-align: center;
    background-color: transparent;
}

.contact__title img {
    width: 39%;
}

.contact__form {
    width: 61%; /* 必要に応じて調整 */
    margin: 0 auto;
}

.form__item {
    margin-bottom: 6%;
}

.form__item:nth-child(3) {
    margin-bottom: 3%;
}

label {
    display: block;
    font-size: min(1.3177vw, 18px);
    margin-bottom: 1%;
}

input[type="text"] {
    width: 98%;
    height: 4.4em;
    padding-left: 2%;
    border: none;
    border-radius: min(0.96153vw, 8px);
    font-size: min(1.0248vw, 14px);
}

input[type="email"] {
    width: 98%;
    height: 4.4em;
    padding-left: 2%;
    border: none;
    border-radius: min(0.96153vw, 8px);
    font-size: min(1.0248vw, 14px);
}

textarea {
    width: 98%;
    height: 21.9em;
    padding: 2% 0px 0px 2%;
    border: none;
    border-radius: min(1.4423vw, 12px);
    font-size: min(1.0248vw, 14px);
}

.contact__notice {
    background-color: transparent;
    font-weight: bold;
    font-size: min(0.8052vw, 11px);
    margin-bottom: 12%;
    line-height: 1.7;
}

.contact__form .btn {
    margin: 0 auto;
}

.contact__form .btn img {
    width: 43%;
}

@media screen and (min-width: 767px) {
    /* mvセクション */
    .mv__img--sp {
        display: none;
    }

    /* aboutセクション */
    .about__title--sp {
        display: none;
    }

    .sp_br {
        display: none;
    }

    /* skillセクション */
    /* 背景シェイプ */
    .skill__shape--bg-top-sp {
        display: none;
    }

    /* 背景シェイプ */
    .skill__shape--orange-wave-sp {
        display: none;
    }

    /* 背景シェイプ */
    .skill__shape--bg-bottom-sp {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--left-yellow-06 {
        display: none;
    }

    /* 黄色と赤のシェイプ */
    .shape--red-yellow-08 {
        display: none;
    }

    /* オレンジのシェイプ */
    .shape--orange-03 {
        display: none;
    }

    /* 赤色のシェイプ */
    .shape--small-red-04 {
        display: none;
    }

    /* skillタイトル */
    .skill__title--sp {
        display: none;
    }

    /* worksセクション */
    /* オレンジのシェイプ */
    .shape--small-light-orange-01-sp {
        display: none;
    }

    /* 背景シェイプ */
    .works__shape--bg-01-sp-top {
        display: none;
    }

    /* 背景シェイプ */
    .works__shape--bg-01-sp-bottom {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--light-yellow-01-sp {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--right-yellow-03 {
        display: none;
    }

    /* 赤色と黄色のシェイプ */
    .shape--red-yellow-02-sp {
        display: none;
    }

    /* 赤色と黄色のシェイプ */
    .shape--red-yellow-09 {
        display: none;
    }

    .works__title--sp {
        display: none;
    }

    /* contactセクション */
    /* 背景シェイプ */
    .contact__shape--orange-wave-sp {
        display: none;
    }

    /* タイトル */
    .contact__title--sp {
        display: none;
    }

    /* footer */
    /* 背景シェイプ */
    .footer__shape-bg-sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /* mvセクション */
    .mv {
        max-height: none;
    }
    .mv__img {
        display: none;
    }

    .mv__img--sp img {
        width: 100%;
        height: 100%;
    }

    /* aboutセクション */
    #about {
        padding-top: 11%;
    }

    .shape--left-orange-01 {
        top: 33%;
        right: 4%;
    }

    .about__inner {
        display: block;
    }

    .about__title {
        display: none;
    }

    .about__title--sp {
        margin-bottom: 10%;
        text-align: center;
    }

    .about__title--sp img {
        max-width: 30%;
    }

    .about__container {
        width: 63%;
        transform: none;
    }

    .about__description {
        font-size: min(3.2637vw, 25px);
        line-height: 2.56;
        margin-bottom: 17%;
    }

    /* read_moreボタン */
    .btn img {
        width: 47%;
    }

    /* skillセクション */
    .skill {
        padding-top: 11%;
    }

    .skill__inner {
        /* height: 1870px; */
    }

    /* 背景シェイプ */
    .skill__shape--bg {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--left-yellow-04 {
        top: -1%;
        left: 28%;
        width: 14%;
    }

    /* 背景シェイプ */
    .skill__shape--orange-wave {
        display: none;
    }

    /* 黄色と赤のシェイプ */
    .shape--red-yellow-05 {
        display: none;
    }

    /* 背景シェイプ */
    .skill__shape--bg-top-sp {
        top: -20%;
    }

    /* 背景シェイプ */
    .skill__shape--orange-wave-sp {
        width: 90%;
    }

    /* 背景シェイプ */
    .skill__shape--bg-bottom-sp {
        top: 46%;
    }

    /* 黄色のシェイプ */
    .shape--left-yellow-06 {
        top: 24%;
        right: 8%;
        width: 14%;
    }

    /* 黄色と赤のシェイプ */
    .shape--red-yellow-08 {
        top: 71%;
        left: 13%;
        width: 16%;
    }

    /* オレンジのシェイプ */
    .shape--orange-03 {
        top: 97%;
        right: 6%;
        width: 10%;
    }

    /* 赤色のシェイプ */
    .shape--small-red-04 {
        top: 105%;
        left: 33%;
        width: 5%;
    }

    .skill__title {
        display: none;
    }

    .skill__title--sp {
        position: absolute;
        top: 5%;
        right: 6%;
        width: 11%;
    }

    .skill__list {
        display: block;
        margin: 0 11%;
        padding-top: 23%;
    }

    .skill__list img {
        width: 49%;
        margin-bottom: 5%;
    }

    .skill__item {
        width: 90%;
        text-align: center;
    }

    .skill__item--design {
        margin-bottom: 16%;
    }

    .skill__item--coding {
        padding-top: 0;
    }

    .skill__subtitle {
        margin-bottom: 3%;
        font-size: min(3.3898vw, 26px);
    }

    .skill__description {
        font-size: min(3.3898vw, 26px);
        line-height: 1.8em;
        margin-bottom: 3%;
    }

    .skill__tools-title {
        font-size: min(3.3898vw, 26px);
        margin-bottom: 5%;
    }

    .skill__tools--small {
        gap: 1.5vw;
    }

    .skill__tools {
        gap: 1.5vw;
        width: 69%;
        margin: 0 auto;
    }

    .skill__tools p.skill__tool,
    .skill__tools--small p.skill__tool {
        width: 7.2em;
        height: 2.6em;
        font-size: min(2.3468vw, 18px);
    }

    .skill__tools p.skill__tool {
        width: 6.4em;
        height: 2.5em;
    }
    .design_content {
        width: 45%;
        padding: 0 0 98px 22%;
    }

    .coding_content {
        width: 45%;
        padding: 0 0 0 22%;
    }

    /* worksセクション */
    #works {
        margin-top: 4%;
        padding-top: 30%;
    }

    /* 黄色のシェイプ */
    .shape--light-yellow-02 {
        display: none;
    }

    /* オレンジのシェイプ */
    .shape--right-orange-01 {
        display: none;
    }

    /* オレンジのシェイプ */
    .shape--small-light-orange-01-sp {
        top: 11%;
        left: 26%;
        width: 11%;
    }

    /* 背景シェイプ */
    .works__shape--bg-01-sp-top {
        top: 13%;
    }

    /* 背景シェイプ */
    .works__shape--bg-01-sp-bottom {
        top: 56%;
    }

    /* 黄色のシェイプ */
    .shape--light-yellow-01-sp {
        top: 25%;
        left: 33%;
        width: 18%;
    }

    /* 黄色のシェイプ */
    .shape--right-yellow-03 {
        top: 46%;
        left: 40%;
        width: 9%;
    }

    /* 赤色と黄色のシェイプ */
    .shape--red-yellow-02-sp {
        top: 64%;
        left: 39%;
        width: 11%;
    }

    /* 赤色と黄色のシェイプ */
    .shape--red-yellow-09 {
        top: 101%;
        left: 43%;
        width: 7%;
    }

    /* contactセクション */
    #contact {
        padding-top: 15%;
    }

    /* 背景シェイプ */
    .contact__shape--orange-wave {
        display: none;
    }

    .shape--left-yellow-03 {
        top: 104%;
        right: 19%;
        width: 16%;
    }

    /* 背景シェイプ */
    .contact__shape--orange-wave-sp {
        top: 0;
    }

    /* contactタイトル */
    .contact__title {
        display: none;
    }

    .contact__title--sp {
        margin-bottom: 8%;
        padding-top: 19%;
        text-align: center;
    }

    .contact__title--sp img {
        width: 39%;
        text-align: center;
    }

    .contact__form {
        width: 77%;
        margin: 0 auto;
    }

    .form__item {
        margin-bottom: 8%;
    }

    .form__item:nth-child(3) {
        margin-bottom: 4%;
    }

    label {
        font-size: min(3.3898vw, 26px);
        margin-bottom: 1.0443vw;
    }

    input[type="text"],
    input[type="email"] {
        border-radius: 2.5423vw;
        height: 3em;
        font-size: min(3.3898vw, 26px);
    }

    textarea {
        height: 7.2em;
        border-radius: 2.5423vw;
        font-size: min(3.3898vw, 26px);
    }

    .contact__notice {
        margin-bottom: 26%;
        font-size: min(1.8252vw, 14px);
    }

    /* 背景シェイプ */
    .footer__shape--bg-01 {
        display: none;
    }

    /* 背景シェイプ */
    .footer__shape-bg-sp {
        bottom: 0px;
        width: 61%;
    }
}

@media screen and (max-width: 350px) {
    .form__item {
        margin-bottom: 6%;
    }

    .contact__notice {
        margin-bottom: 24%;
    }
}
