@charset "utf-8";
/* 見出し */
/* オレンジのシェイプ */
.shape--left-orange-01 {
    display: inline;
    top: 47%;
    left: 95%;
    width: 20%;
    transform: translateX(-50%);
}

/* テーブル */
/* オレンジの背景シェイプ */
.work-detail__shape--bg-02 {
    top: -274%;
}

/* 赤と黄色のシェイプ */
.shape--red-yellow-01 {
    top: -175%;
    left: 11%;
    width: 8%;
}

/* 赤と黄色のシェイプ */

.shape--red-yellow-04 {
    top: 94%;
    right: 8%;
    width: 5%;
}

/* worksセクション */
#works__wrapper {
    padding-top: 27%;
}

/* 黄色のシェイイプ */
.shape--right-yellow-01 {
    top: 23%;
    right: 34%;
    width: 11%;
}

/* オレンジ色の丸いシェイプ */
.shape--circle-orange {
    top: 38%;
    left: 14%;
    width: 2%;
}

/* 黄色のシェイプ */
.shape--left-yellow-03 {
    top: 82%;
    right: 7%;
    width: 9%;
}

@media screen and (min-width: 767px) {
    /* テーブル */
    .works_shape--bg-01 {
        display: none;
    }

    .shape--left-orange-01-sp {
        display: none;
    }

    .shape--red-yellow-03 {
        display: none;
    }

    .shape--left-yellow-02 {
        display: none;
    }

    .shape--small-red-02 {
        display: none;
    }

    /* worksセクション */
    .shape--small-light-orange-02 {
        display: none;
    }

    .works_shape--bg-01-sp {
        display: none;
    }

    .shape--light-yellow-01 {
        display: none;
    }

    .shape--small-light-yellow-02 {
        display: none;
    }

    .works_shape--bg-02-sp {
        display: none;
    }

    .shape--red-yellow-05 {
        display: none;
    }

    .shape--orange-yellow-02 {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /* テーブル */
    .shape--left-orange-01-sp {
        top: -6%;
        right: 8%;
        width: 19%;
    }

    .works_shape--bg-01 {
        top: -77%;
    }

    .shape--red-yellow-03 {
        top: 21%;
        left: 4%;
        width: 6%;
    }

    .shape--left-yellow-02 {
        top: 75%;
        right: 9%;
        width: 19%;
    }

    .shape--small-red-02 {
        /* top: 88%; */
        top: 139%;
        left: 7%;
        width: 5%;
    }

    .shape--red-yellow-01 {
        display: none;
    }
    .work-detail__shape--bg-02 {
        display: none;
    }

    .shape--red-yellow-04 {
        display: none;
    }

    /* worksセクション */
    main #works__wrapper {
        padding-top: 24%;
    }

    .shape--small-light-orange-02 {
        top: 12%;
        left: 28%;
        width: 11%;
    }

    .works_shape--bg-01-sp {
        top: 22%;
    }

    .shape--right-yellow-01 {
        display: none;
    }

    .shape--light-yellow-01 {
        top: 30%;
        left: 34%;
        width: 17%;
    }

    .shape--small-light-yellow-02 {
        top: 55%;
        left: 43%;
        width: 9%;
    }

    .works_shape--bg-02-sp {
        top: 77%;
    }

    .shape--red-yellow-05 {
        top: 76%;
        left: 33%;
        width: 11%;
    }

    .shape--orange-yellow-02 {
        top: 100%;
        left: 35%;
        width: 23%;
    }

    .shape--circle-orange {
        display: none;
    }

    .shape--left-yellow-03 {
        display: none;
    }
}
