@charset "utf-8";

/* .works_website {
} */

.website_title_wrap {
    position: relative;
    max-width: 1100px;
    margin-bottom: 20%;
    padding-top: 82px;
    padding-left: 9%;
    /* padding-left: 130px; */
    overflow: visible;
}

.website_title {
    /* font-size: 70px; */
    font-size: 6.1244vw;
    line-height: 1.4;
}

.website_text {
    font-size: 1.6vw;
}

.about_shape {
    display: inline;
    position: absolute;
    top: 44%;
    /* top: -125px; */
    left: 95%;
    /* left: 912px; */
    width: 20%;
    transform: translateX(-50%);
}

.about_shape img {
    margin-right: 5%;
}

.website_desktop {
    margin-bottom: 25%;
    text-align: center;
}

.website_desktop img {
    width: 77%;
}
.website_text_wrap {
    position: relative;
}

.website_text_inner {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    padding: 0px 9%;
    max-width: 1080px;
    font-size: 2rem;
}

.website_text_inner dl {
    display: flex;
    flex-wrap: wrap;
}

.website_text_inner dt {
    width: 30%;
}

.website_text_inner dd {
    width: 70%;
    line-height: 1.8;
}

.works_text_bg_shape {
    position: absolute;
    /* top: 365px; */
    top: 37%;
    z-index: -1;
}

.works_text_redyellow_shape {
    position: absolute;
    /* top: 575px; */
    top: 80%;
    /* left: 100px; */
    left: 7%;
    width: 5%;
}

.website_designcomp_wrap {
    position: relative;
    margin-top: 4%;
}

.website_designcomp_inner {
    text-align: center;
}

.designcomp img {
    width: 60%;
}

.works_text_yellow_shape_sp01 {
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: -1;
    width: 16%;
}

.works_designcomp_redyellow_shape {
    position: absolute;
    top: 35%;
    left: 6%;
    z-index: -1;
    width: 8%;
}

.works_designcomp_bg_shape {
    position: absolute;
    top: 51%;
    z-index: -1;
}

.works_designcomp_orange_shape {
    position: absolute;
    top: 56%;
    right: 3%;
    z-index: -1;
    width: 26%;
}

.works_designcomp_orangeyellow_shape {
    position: absolute;
    top: 75%;
    left: 1%;
    z-index: -1;
    width: 17%;
}

.works_designcomp_yellow_circle {
    position: absolute;
    top: 84%;
    right: 21%;
    z-index: -1;
}

.works_otherworks_yellow_shape {
    position: absolute;
    top: 16%;
    right: 34%;
    z-index: -1;
    width: 12%;
}

#otherworks {
    position: relative;
    padding-top: 22%;
}

.otherworks_inner {
    padding: 0 11%;
}

.works_title {
    width: 34%;
    margin: 0 auto 4%;
}

.works_content_wrap {
    max-width: 1100px;
    margin: 0 auto;
}

.works_content_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6rem 7%;
}

.works_content {
    width: 28%;
}

@media screen and (max-width: 1200px) {
    .about_shape {
        left: 85%;
    }
}

@media screen and (max-width: 1140px) {
}

@media screen and (min-width: 767px) {
    .works_otherworks_bg_shape01_sp {
        display: none;
    }

    .about_shape_sp {
        display: none;
    }
    .works_text_yellow_shape_sp {
        display: none;
    }

    .works_text_red_shape_sp {
        display: none;
    }

    .works_designcomp_red_circle_sp {
        display: none;
    }

    .works_title_sp {
        display: none;
    }

    .works_otherworks_orange_shape_sp {
        display: none;
    }

    .works_otherworks_yellow_shape01_sp {
        display: none;
    }

    .works_otherworks_yellow_shape02_sp {
        display: none;
    }

    .works_otherworks_bg_shape02_sp {
        display: none;
    }

    .works_otherworks_redyellow_shape_sp {
        display: none;
    }

    .works__otherworks_orangeyellow_shape {
        display: none;
    }

    .works__otherworks_orangeyellow_shape_sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .website_title_wrap {
        padding-top: 74px;
    }

    .about_shape {
        display: none;
    }

    .about_shape_sp {
        display: inline;
        position: absolute;
        top: -11%;
        left: 72%;
        z-index: -1;
        width: 19%;
    }

    .works_text_bg_shape {
        top: -9%;
    }

    .works_text_redyellow_shape {
        top: 54%;
        left: 5%;
        width: 5%;
    }

    .works_text_yellow_shape_sp01 {
        top: 14%;
        right: 8%;
        z-index: -1;
        width: 16%;
    }

    .works_text_yellow_shape_sp {
        display: inline;
        position: absolute;
        top: 113%;
        left: 71%;
        width: 20%;
    }

    .works_text_red_shape_sp {
        display: inline;
        position: absolute;
        top: 92%;
        left: 5%;
        width: 5%;
    }

    .works_designcomp_redyellow_shape {
        display: none;
    }

    .works_designcomp_orange_shape {
        display: none;
    }

    .works01_shape07 {
        display: none;
    }

    .works_designcomp_yellow_circle {
        display: none;
    }

    .works_designcomp_orangeyellow_shape_sp {
        display: inline;
        position: absolute;
        top: 28%;
        left: 11%;
        z-index: -1;
        width: 19%;
    }

    .works_designcomp_orangeyellow_shape {
        position: absolute;
        top: 24%;
        left: 5%;
        z-index: -1;
        width: 20%;
    }

    .works_designcomp_red_circle_sp {
        position: absolute;
        top: 62%;
        left: 5%;
        z-index: -1;
        width: 7%;
    }

    .website_text_inner {
        font-size: 1.3rem;
    }

    .website_text_inner dl {
        gap: 9px;
        flex-direction: column;
    }

    .website_text_inner dt,
    .website_text_inner dd {
        width: 100%;
    }

    .works_designcomp_bg_shape {
        top: 19%;
    }

    .works_otherworks_yellow_shape {
        display: none;
    }

    .works_otherworks_bg_shape01_sp {
        position: absolute;
        top: 9%;
        z-index: -1;
    }

    .website_designcomp_wrap {
        margin-top: 18%;
    }

    .designcomp img {
        width: 91%;
    }

    .works_otherworks_orange_shape_sp {
        position: absolute;
        top: 10%;
        left: 29%;
        z-index: -1;
        width: 11%;
    }

    .works_otherworks_yellow_shape01_sp {
        position: absolute;
        top: 28%;
        left: 34%;
        z-index: -1;
        width: 17%;
    }

    .works_otherworks_yellow_shape02_sp {
        position: absolute;
        top: 54%;
        left: 43%;
        z-index: -1;
        width: 9%;
    }

    .works_otherworks_bg_shape02_sp {
        position: absolute;
        top: 65%;
        z-index: -1;
    }

    .works_otherworks_redyellow_shape_sp {
        position: absolute;
        top: 75%;
        left: 33%;
        z-index: -1;
        width: 11%;
    }

    .works__otherworks_orangeyellow_shape_sp {
        position: absolute;
        top: 100%;
        left: 35%;
        z-index: -1;
        width: 23%;
    }

    #otherworks {
        padding-top: 17%;
    }

    .works_inner {
        padding: 0 12%;
    }

    .works_title {
        display: none;
    }

    .works_title_sp {
        padding-bottom: 3%;
        text-align: center;
    }

    .works_title_sp img {
        width: 44%;
    }

    .works_content_inner {
        flex-direction: column;
        gap: 15rem;
        margin: 0 auto;
        max-width: 590px;
    }

    .works_content {
        width: 100%;
    }

    .content_img {
        margin-bottom: 5%;
    }

    .works_text {
        margin-bottom: 2%;
        font-size: 2.6rem;
    }

    .works_tool {
        font-size: 1rem;
    }
}
