@charset "utf-8";
/* 見出し */
/* オレンジのシェイプ */
.shape--left-orange-01 {
    display: inline;
    top: 44%;
    left: 95%;
    width: 20%;
    transform: translateX(-50%);
}

/* テーブル */
/* 背景シェイプ */
.work-detail__shape--bg-01 {
    top: 37%;
}

/* 赤と黄色のシェイプ */
.shape--red-yellow-04 {
    top: 80%;
    left: 7%;
    width: 5%;
}

/* 黄色のシェイプ */
.shape--left-yellow-02 {
    top: 13%;
    right: 5%;
    width: 16%;
}

/* デザインカンプ */
/* オレンジと黄色のシェイプ */
.shape--orange-yellow-03 {
    top: 77%;
    left: 1%;
    width: 16%;
}

/* 赤と黄色のシェイプ */
.shape--red-yellow-01 {
    top: 35%;
    left: 6%;
    width: 8%;
}

/* 背景シェイプ */
.design-comp__shape--bg-02 {
    top: 53%;
}

.design-comp__shape-bg {
    top: 52%;
}

/* オレンジのシェイプ */
.shape--orange-01 {
    top: 56%;
    right: 10%;
    width: 18%;
}

/* 黄色の丸いシェイプ */
.shape--circle-yellow {
    top: 86%;
    right: 21%;
}

.design-comp__img img {
    width: 51%;
}

/* worksセクション */
/* 黄色のシェイプ */
.shape--right-yellow-01 {
    top: -3%;
    right: 34%;
    width: 11%;
}

@media screen and (min-width: 767px) {
    /* テーブル */
    /* オレンジのシェイプ */
    .shape--left-orange-01-sp {
        display: none;
    }

    /* 小さい赤いシェイプ */
    .shape--small-red-01-sp {
        display: none;
    }

    /* デザインカンプ */
    .design-comp__img--sp {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--left-yellow-02-sp {
        display: none;
    }

    /* 赤い丸いシェイプ */
    .shape--circle-red-01-sp {
        display: none;
    }

    /* 背景シェイプ */
    .design-comp__shape--bg-01-sp {
        display: none;
    }

    /* 背景シェイプ */
    .design-comp__shape--bg-02 {
        display: none;
    }

    /* worksセクション */
    /* 小さくて薄いオレンジのシェイプ */
    .shape--small-light-orange-01-sp {
        display: none;
    }

    /* 背景シェイプ */
    .works__shape--bg-01-sp-top {
        display: none;
    }

    /* 背景シェイプ */
    .works__shape--bg-01-sp {
        display: none;
    }

    /* 薄いオレンジのシェイプ */
    .shape--light-yellow-01-sp {
        display: none;
    }

    /* 小さくて薄い黄色のシェイプ */
    .shape--small-light-yellow-01-sp {
        display: none;
    }

    /* 背景シェイプ */
    .works__shape--bg-01-sp-bottom {
        display: none;
    }

    /* 赤と黄色のシェイプ */
    .shape--red-yellow-02-sp {
        display: none;
    }

    /* オレンジと黄色のシェイプ */
    .shape--orange-yellow-02-sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /* テーブル */
    /* 背景シェイプ */
    .work-detail__shape--bg-01 {
        top: -4%;
    }

    /* オレンジのシェイプ */
    .shape--left-orange-01-sp {
        display: inline;
        top: -5%;
        right: 8%;
        width: 19%;
    }

    /* 赤と黄色のシェイプ */
    .shape--red-yellow-04 {
        top: 28%;
        left: 5%;
        width: 5%;
    }

    /* 黄色のシェイプ */
    .work-detail .shape--left-yellow-02-sp {
        display: inline;
        top: 56%;
        left: 71%;
        width: 20%;
    }

    /* 小さくて赤いシェイプ */
    .shape--small-red-01-sp {
        display: inline;
        top: 91%;
        left: 7%;
        width: 6%;
    }

    /* デザインカンプ */
    .design-comp {
        margin-top: 18%;
    }

    /* 黄色のシェイプ */
    .design-comp .shape--left-yellow-02 {
        top: 12%;
        right: 8%;
        width: 16%;
    }

    /* オレンジと黄色のシェイプ */
    .shape--orange-yellow-01 {
        top: 24%;
        left: 5%;
        width: 20%;
    }

    /* 丸い赤色のシェイプ */
    .shape--circle-red-01-sp {
        top: 62%;
        left: 5%;
        width: 7%;
    }

    /* 赤と黄色のシェイプ */
    .shape--red-yellow-01 {
        display: none;
    }

    /* 背景シェイプ */
    .design-comp__shape--bg-02 {
        display: none;
    }

    /* 背景シェイプ */
    .design-comp__shape--bg-01-sp {
        top: 17%;
    }

    .design-comp__shape-bg {
        display: none;
    }

    /* オレンジのシェイプ */
    .shape--orange-01 {
        display: none;
    }

    /* 丸い赤色のシェイプ */
    .shape--circle-yellow {
        display: none;
    }

    /* 赤色とオレンジのシェイプ */
    .shape--orange-yellow-03 {
        display: inline;
        top: 22%;
        left: 6%;
        width: 19%;
    }

    .design-comp__img {
        display: none;
    }

    .design-comp__img--sp {
        width: 100%;
    }

    .design-comp__img--sp img {
        width: 77%;
    }

    /* worksセクション */
    /* 黄色のシェイプ */
    .shape--right-yellow-01 {
        display: none;
    }

    /* 小さくて薄いオレンジのシェイプ */
    .shape--small-light-orange-01-sp {
        top: 12%;
        left: 29%;
        width: 11%;
    }

    /* 背景シェイプ */
    .works__shape--bg-01-sp-top {
        top: 12%;
    }

    /* 薄い黄色のシェイプ */
    .shape--light-yellow-01-sp {
        top: 30%;
        left: 34%;
        width: 17%;
    }

    /* 小さくて薄い黄色のシェイプ */
    .shape--small-light-yellow-01-sp {
        top: 55%;
        left: 43%;
        width: 9%;
    }

    /* 背景シェイプ */
    .works__shape--bg-01-sp-bottom {
        top: 66%;
        z-index: -1;
    }

    /* 赤と黄色のシェイプ */
    .shape--red-yellow-02-sp {
        top: 76%;
        left: 33%;
        width: 11%;
    }

    /* オレンジと黄色のシェイプ */
    .shape--orange-yellow-02-sp {
        top: 100%;
        left: 35%;
        width: 23%;
    }
}
