@charset "utf-8";

/* .works_website {
} */

.website_title_wrap {
    position: relative;
    max-width: 1100px;
    margin-bottom: 5%;
    padding-top: 82px;
    padding-left: 9%;
    /* padding-left: 130px; */
    overflow: visible;
}

.website_title {
    /* font-size: 70px; */
    font-size: 6.1244vw;
    line-height: 1.4;
}

.website_text {
    font-size: 1.6vw;
}

.about_shape {
    display: inline;
    position: absolute;
    top: 44%;
    /* top: -125px; */
    left: 95%;
    /* left: 912px; */
    width: 20%;
    transform: translateX(-50%);
}

.about_shape img {
    margin-right: 5%;
}

.website_desktop {
    margin-bottom: 13%;
    text-align: center;
}

.website_desktop img {
    width: 80%;
}
.website_text_wrap {
    position: relative;
}

.website_text_inner {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 0 auto;
    padding: 0px 9%;
    max-width: 1080px;
    font-size: 2rem;
}

.website_text_inner dl {
    display: flex;
    flex-wrap: wrap;
}

.website_text_inner dt {
    width: 30%;
}

.website_text_inner dd {
    width: 70%;
    line-height: 1.8;
}

.works01_shape01 {
    position: absolute;
    /* top: 365px; */
    top: 37%;
    z-index: -1;
}

.works01_shape02 {
    position: absolute;
    /* top: 575px; */
    top: 80%;
    /* left: 100px; */
    left: 7%;
    width: 5%;
}

.website_mockup_wrap {
    position: relative;
    margin-top: 4%;
}

.website_mockup_inner {
    text-align: center;
}

.mockup img {
    width: 60%;
}

.works01_shape03 {
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: -1;
    width: 16%;
}

.works01_shape04 {
    position: absolute;
    top: 35%;
    left: 6%;
    z-index: -1;
    width: 8%;
}

.works01_shape05 {
    position: absolute;
    top: 51%;
    z-index: -1;
}

.works01_shape06 {
    position: absolute;
    top: 56%;
    right: 3%;
    z-index: -1;
    width: 26%;
}

.works01_shape07 {
    position: absolute;
    top: 75%;
    left: 1%;
    z-index: -1;
    width: 17%;
}

.works01_shape08 {
    position: absolute;
    top: 84%;
    right: 21%;
    z-index: -1;
    width: 12;
}

.works01_shape09 {
    position: absolute;
    top: 106%;
    right: 34%;
    z-index: -1;
    width: 12%;
}

#otherworks {
    padding-top: 22%;
}

.works_inner {
    padding: 0 3%;
}

.works_title {
    width: 34%;
    margin: 0 auto;
    padding-bottom: 4%;
}
.works_content_wrap {
    max-width: 1100px;
    margin: 0 auto;
}

.works_content_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6rem 7%;
}

@media screen and (max-width: 1200px) {
    .about_shape {
        left: 85%;
    }
}

@media screen and (max-width: 1140px) {
}

@media screen and (min-width: 767px) {
    .works01_shape_sp {
        display: none;
    }

    .about_shape_sp {
        display: none;
    }
    .works01_shape03_sp {
        display: none;
    }

    .works01_shape10_sp {
        display: none;
    }

    .works01_shape11_sp {
        display: none;
    }

    .works01_shape12_sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .website_title_wrap {
        padding-top: 74px;
    }

    .about_shape {
        display: none;
    }

    .about_shape_sp {
        display: inline;
        position: absolute;
        top: -8%;
        left: 70%;
        z-index: -1;
        width: 20%;
    }

    .works01_shape01 {
        top: -6%;
    }

    .works01_shape02 {
        top: 30%;
        left: 3%;
    }

    .works01_shape03 {
        right: 15%;
    }

    .works01_shape03_sp {
        display: inline;
        position: absolute;
        top: 56%;
        left: 73%;
        width: 20%;
    }

    .works01_shape10_sp {
        display: inline;
        position: absolute;
        top: 92%;
        left: 5%;
        width: 5%;
    }

    .works01_shape04 {
        display: none;
    }

    .works01_shape06 {
        display: none;
    }

    .works01_shape07 {
        display: none;
    }

    .works01_shape09 {
        display: none;
    }

    .works01_shape11_sp {
        display: inline;
        position: absolute;
        top: 28%;
        left: 11%;
        z-index: -1;
        width: 19%;
    }

    .works01_shape12_sp {
        display: inline;
        position: absolute;
        top: 61%;
        left: 12%;
        z-index: -1;
        width: 7%;
    }

    .website_text_inner {
        font-size: 1.3rem;
    }

    .website_text_inner dl {
        gap: 9px;
        flex-direction: column;
    }

    .website_text_inner dt,
    .website_text_inner dd {
        width: 100%;
    }

    .works01_shape05 {
        top: 22%;
    }

    .works01_shape_sp {
        position: absolute;
        top: 125%;
        z-index: -1;
    }

    .mockup img {
        width: 76%;
    }

    .works_content_inner {
        flex-direction: column;
        gap: 9rem;
    }

    .content_img img {
        width: 77%;
    }
}
