@charset "utf-8";
/* 見出し */
/* オレンジのシェイプ */
.shape--left-orange-01 {
    display: inline;
    top: 46%;
    left: 95%;
    width: 20%;
    transform: translateX(-50%);
}

/* テーブル */
/* 背景シェイプ */
.work-detail__shape--bg-01 {
    top: 16%;
}

/* 赤と黄色のシェイプ */
.shape--red-yellow-04 {
    top: 145%;
    left: 7%;
    width: 5%;
}

/* デザインカンプ */
/* 黄色のシェイプ */
.shape--left-yellow-02 {
    top: 29%;
    right: 5%;
    width: 16%;
}

/* 赤色のシェイプ */
.shape--red-yellow-01 {
    top: 56%;
    left: 7%;
    width: 16%;
}

/* オレンジのシェイプ */
.shape--orange-01 {
    top: 84%;
    right: 3%;
    width: 26%;
}

/* 黄色のシェイプ */
.shape--left-yellow-01 {
    top: 103%;
    left: 8%;
    width: 9%;
}

/* オレンジのシェイプ */
.shape--right-orange {
    top: 110%;
    left: 1%;
    width: 16%;
}

/* worksセクション */
/* 黄色のシェイプ */
.shape--right-yellow-01 {
    top: 46%;
    right: 35%;
    width: 11%;
}

/* 黄色の丸いシェイプ */
.shape--circle-yellow {
    top: 42%;
    right: 20%;
    width: 2%;
}

@media screen and (min-width: 767px) {
    /* テーブル */
    /* オレンジ色のシェイプ */
    .shape--left-orange-01-sp {
        display: none;
    }

    /* 赤丸のシェイプ */
    .shape--circle-red-02 {
        display: none;
    }

    .work-detail__wrapper .shape--left-yellow-02 {
        display: none;
    }

    /* デザインカンプ */
    /* 赤色のシェイプ */
    .shape--small-red-01-top {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--left-yellow-05-top {
        display: none;
    }

    /* オレンジと黄色のシェイプ */
    .shape--orange-yellow-01 {
        display: none;
    }

    /* 背景シェイプ */
    .design-comp__shape--bg-01-sp {
        display: none;
    }

    /* 赤色のシェイプ */
    .shape--small-red-01-bottom {
        display: none;
    }

    /* オレンジのシェイプ */
    .shape--light-orange-01 {
        display: none;
    }

    /* 赤丸のシェイプ */
    .shape--circle-red-01-top-left {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--left-yellow-05-bottom {
        display: none;
    }

    /* オレンジと黄色のシェイプ */
    .shape--light-orange-yellow {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--small-light-yellow-02-right {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--small-light-yellow-02-left {
        display: none;
    }

    /* 背景シェイプ */
    .design-comp_shape--bg-02-sp {
        display: none;
    }

    /* オレンジと黄色のシェイプ */
    .shape--orange-yellow-01 {
        display: none;
    }

    /* 赤丸のシェイプ */
    .shape--circle-red-01-right {
        display: none;
    }
    /* 黄色のシェイプ */
    .shape--light-yellow-01 {
        display: none;
    }

    /* 黄色と赤色のシェイプ */
    .shape--red-yellow-02 {
        display: none;
    }

    /* 赤丸のシェイプ */
    .shape--circle-red-01-bottom-left {
        display: none;
    }

    /* オレンジのシェイプ */
    .shape--left-orange-02 {
        display: none;
    }

    /* オレンジのシェイプ */
    .shape--small-light-orange-01-sp {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--light-yellow-01-sp {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--small-light-yellow-01-sp {
        display: none;
    }

    /* 背景シェイプ */
    .works__shape--bg-01-sp {
        display: none;
    }

    /* 赤色と黄色のシェイプ */
    .shape--red-yellow-02-sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /* テーブル */
    /* 背景シェイプ */
    .work-detail__shape--bg-01 {
        top: -7%;
    }

    /* オレンジのシェイプ */
    .shape--left-orange-01-sp {
        display: inline;
        top: -9%;
        right: 8%;
        width: 19%;
    }

    /* 赤と黄色のシェイプ */
    .shape--red-yellow-04 {
        display: none;
    }

    /* 赤丸のシェイプ */
    .shape--circle-red-02 {
        top: 52%;
        left: 4%;
        width: 19%;
    }

    /* 黄色のシェイプ */
    .work-detail__wrapper .shape--left-yellow-02 {
        top: 106%;
        right: 9%;
        width: 19%;
    }

    /* デザインカンプ */
    /* 黄色のシェイプ */
    .design-comp__wrapper .shape--left-yellow-02 {
        display: none;
    }

    /* 赤色と黄色のシェイプ */
    .shape--red-yellow-01 {
        display: none;
    }
    /* オレンジのシェイプ */
    .shape--orange-01 {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--left-yellow-01 {
        display: none;
    }

    /* オレンジのシェイプ */
    .shape--right-orange {
        display: none;
    }

    /* 赤色のシェイプ */
    .shape--small-red-01-top {
        top: 4%;
        left: 7%;
        width: 5%;
    }

    /* 黄色のシェイプ */
    .shape--left-yellow-05-top {
        top: 7%;
        right: 8%;
        width: 19%;
    }

    /* オレンジと黄色のシェイプ */
    .shape-ーorange-yellowー01 {
        top: 12%;
        left: 5%;
        width: 19%;
    }

    /* 背景シェイプ */
    .design-comp__shape--bg-01-sp {
        top: 18%;
    }

    /* 赤色のシェイプ */
    .shape--small-red-01-bottom {
        top: 26%;
        left: 5%;
        width: 6%;
    }

    /* オレンジのシェイプ */
    .shape--light-orange-01 {
        top: 31%;
        right: 5%;
        width: 20%;
    }

    /* 赤丸のシェイプ */
    .shape--circle-red-01-top-left {
        top: 39%;
        left: 5%;
        width: 7%;
    }

    /* 黄色のシェイプ */
    .shape--left-yellow-05-bottom {
        top: 44%;
        right: 5%;
        width: 19%;
    }

    /* オレンジと黄色のシェイプ */
    .shape--light-orange-yellow {
        top: 51%;
        left: 2%;
        width: 19%;
    }

    /* 黄色のシェイプ */
    .shape--small-light-yellow-02-right {
        top: 58%;
        right: 8%;
        width: 9%;
    }

    /* 黄色のシェイプ */
    .shape--small-light-yellow-02-left {
        top: 64%;
        left: 6%;
        width: 9%;
    }

    /* 背景シェイプ */
    .design-comp_shape--bg-02-sp {
        top: 62%;
    }

    /* オレンジと黄色のシェイプ */
    .shape--orange-yellow-01 {
        top: 69%;
        right: 3%;
        width: 19%;
    }

    /* 赤丸のシェイプ */
    .shape--circle-red-01-right {
        top: 83%;
        right: 9%;
        width: 7%;
    }

    /* 黄色のシェイプ */
    .shape--light-yellow-01 {
        top: 88%;
        left: 6%;
        width: 17%;
    }

    /* 赤色と黄色のシェイプ */
    .shape--red-yellow-02 {
        top: 95%;
        right: 7%;
        width: 11%;
    }

    /* 赤色と黄色のシェイプ */
    .shape--circle-red-01-bottom-left {
        top: 100%;
        left: 5%;
        width: 7%;
    }

    /* worksセクション */
    /* 黄色のシェイプ */
    .shape--right-yellow-01 {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--circle-yellow {
        display: none;
    }

    /* オレンジのシェイプ */
    .shape--left-orange-02 {
        top: 6%;
        left: 56%;
        width: 20%;
    }

    /* オレンジのシェイプ */
    .shape--small-light-orange-01-sp {
        top: 35%;
        left: 24%;
        width: 11%;
    }

    /* 黄色のシェイプ */
    .shape--light-yellow-01-sp {
        top: 54%;
        left: 29%;
        width: 17%;
    }

    /* 背景シェイプ */
    .works__shape--bg-01-sp {
        top: 52%;
    }

    /* 黄色のシェイプ */
    .shape--small-light-yellow-01-sp {
        top: 78%;
        left: 38%;
        width: 9%;
    }

    /* 赤色と黄色のシェイプ */
    .shape--red-yellow-02-sp {
        top: 100%;
        left: 28%;
        width: 11%;
    }
}
