@charset "utf-8";
/* profileセクション */
.profile {
    max-width: 1366px;
    padding-top: 10%;
}

.profile__inner {
    display: flex;
    position: relative;
}

/* オレンジのシェイプ */
.shape--right-orange-02 {
    top: -2%;
    left: 10%;
    width: 18%;
}

/* 背景シェイプ */
.profile__shape-bg {
    top: 78%;
}

/* タイトル */
.profile__title {
    top: 0;
    left: 5%;
    width: 7%;
}

.profile__container {
    width: 61%;
    margin: 0 auto;
    text-align: center;
}

/* 写真 */
.profile__photo {
    margin-bottom: 4%;
}

.profile__photo img {
    width: 65%;
}

/* テキスト */
.profile__name {
    margin-bottom: 2%;
    font-size: min(2.5622vw, 35px);
    line-height: 1;
    text-align: center;
}

.profile__description {
    font-size: min(1.7569vw, 24px);
    line-height: 1.8em;
    text-align: left;
}

/* strangeセクション  */
.strange {
    position: relative;
    max-width: 1366px;
    margin: 0 auto;
    padding-top: 27%;
}

.strange__inner {
    position: relative;
    margin: 0 auto;
}

/* タイトル */
.strange__title {
    margin-bottom: 4%;
    text-align: center;
}

.strange__title img {
    width: 39%;
}

/* アイコン */
.strange__icon {
    position: absolute;
    left: 0%;
    width: 54%;
}

.strange__item-02 .strange__icon {
    position: absolute;
    top: -2%;
    left: 0%;
    width: 96%;
}

/* テキスト */
.strange__description {
    font-size: min(1.3177vw, 18px);
    line-height: 1.7em;
}

.strange__subtitle {
    margin-bottom: 2%;
    font-size: min(3.5138vw, 48px);
    line-height: 1em;
}

.strange__subtitle--right {
    margin-bottom: 2%;
    font-size: min(3.5138vw, 48px);
    line-height: 1em;
    text-align: right;
}

/* 傾聴力セクション */
.strange__item-01 {
    position: relative;
    left: 6%;
    width: 75%;
    min-height: 543px;
    margin-bottom: 3%;
}

.strange__text-01 {
    position: absolute;
    top: 35%;
    left: 45%;
    width: 56%;
}

/* 探究心セクション */
.strange__item-02 {
    position: relative;
    left: 54%;
    width: 42%;
    min-height: 532px;
    margin-bottom: 2%;
}

.strange__text-02 {
    position: absolute;
    top: 32%;
    left: -86%;
    width: 100%;
}

/* 責任感セクション */
.strange__item-03 {
    position: relative;
    left: 6%;
    width: 75%;
    min-height: 544px;
    margin-bottom: 3%;
}

.strange__text-03 {
    position: absolute;
    top: 31%;
    left: 45%;
    width: 56%;
}

/* シェイプ */
/* オレンジのシェイプ */
.shape--left-orange-03 {
    top: 15%;
    right: 24%;
    width: 16%;
}

/* 黄色と赤のシェイプ */
.shape--red-yellow-07 {
    top: 55%;
    left: 26%;
    width: 12%;
}

/* 黄色とオレンジのシェイプ */
.shape--orange-yellow-04 {
    top: 76%;
    right: 27%;
    width: 14%;
}

@media screen and (max-width: 1294px) {
    .br_pc {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 477px;
    }

    .strange__item-02 {
        min-height: 466px;
    }

    .strange__item-03 {
        min-height: 477px;
    }
}

@media screen and (max-width: 1100px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 437px;
    }

    .strange__item-02 {
        min-height: 427px;
    }

    .strange__item-03 {
        min-height: 437px;
    }
}

@media screen and (max-width: 1000px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 398px;
    }

    .strange__item-02 {
        min-height: 389px;
    }

    .strange__item-03 {
        min-height: 398px;
    }
}

@media screen and (max-width: 900px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 358px;
    }

    .strange__item-02 {
        min-height: 350px;
    }

    .strange__item-03 {
        min-height: 358px;
    }
}

@media screen and (max-width: 800px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 318px;
    }

    .strange__item-02 {
        min-height: 311px;
    }

    .strange__item-03 {
        min-height: 318px;
    }
}

@media screen and (min-width: 767px) {
    /* profileセクション */
    /* 背景シェイプ */
    .profile__shape-bg-sp {
        display: none;
    }

    .profile__title--sp {
        display: none;
    }

    /* strangeセクション */
    /* 背景シェイプ */
    .strange__shape--bg-sp {
        display: none;
    }

    /* オレンジのシェイプ */
    .shape--orange-02 {
        display: none;
    }

    /* 黄色のシェイプ */
    .shape--small-yellow-02 {
        display: none;
    }

    /* strangeタイトル */
    .strange__title--sp {
        display: none;
    }

    /* アイコン */
    .strange__icon--sp {
        display: none;
    }

    .strange__item-02 .strange__icon--sp {
        display: none;
    }

    /* footer */
    .footer__shape-bg-sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /* profileセクション */
    /* オレンジのシェイプ */
    .shape--right-orange-02 {
        top: -25px;
        left: 17%;
        width: 14%;
    }

    /* 背景シェイプ */
    .profile__shape-bg {
        display: none;
    }

    /* 背景シェイプ */
    .profile__shape-bg-sp {
        top: 55%;
    }

    /* profileタイトル */
    .profile__title {
        display: none;
    }

    .profile__title--sp {
        top: 0;
        left: 5%;
        width: 10%;
    }

    .profile__container {
        width: 67%;
    }

    /* 写真 */
    .profile__photo {
        margin-bottom: 3%;
    }

    .profile__photo img {
        width: 91%;
    }

    /* テキスト */
    .profile__name {
        margin-bottom: 4%;
        font-size: min(3.3942vw, 26px);
    }

    .profile__description {
        font-size: min(3.3942vw, 26px);
        line-height: 1.7;
    }

    /* strangeセクション */
    .strange {
        padding-top: 33%;
    }

    /* オレンジのシェイプ */
    .shape--left-orange-03 {
        top: 9%;
        right: 25%;
        width: 15%;
    }

    /* 黄色の赤のシェイプ */
    .shape--red-yellow-07 {
        top: 48%;
        left: 27%;
        width: 12%;
    }

    /* 黄色とオレンジのシェイプ */
    .shape--orange-yellow-04 {
        display: none;
    }

    /* 背景シェイプ */
    .strange__shape--bg-sp {
        top: 53%;
    }

    /* オレンジのシェイプ */
    .shape--orange-02 {
        top: 62%;
        right: 12%;
        width: 11%;
    }

    /* 黄色のシェイプ */
    .shape--small-yellow-02 {
        top: 74%;
        right: 26%;
        width: 1%;
    }

    /* タイトル */
    .strange__title {
        display: none;
    }

    .strange__title--sp {
        margin-bottom: 7%;
        text-align: center;
    }

    .strange__title--sp img {
        width: 39%;
    }

    /* アイコン */
    .strange__icon {
        display: none;
    }

    .strange__icon--sp img {
        width: 53%;
    }

    .strange__item-02 .strange__icon {
        display: none;
    }

    .strange__item-02 .strange__icon--sp img {
        width: 100%;
    }

    /* テキスト */
    .strange__subtitle {
        margin-bottom: 3%;
        font-size: 6.0052vw;
    }

    .strange__subtitle--right {
        margin-bottom: 3%;
        font-size: 6.0052vw;
    }

    .strange__description {
        font-size: 3.3942vw;
        line-height: 1.8;
    }

    /* 傾聴力セクション */
    .strange__item-01 {
        left: 7%;
        width: 80%;
        min-height: 701px;
        margin-bottom: 13%;
    }

    .strange__text-01 {
        top: 37%;
        left: 28%;
        width: 74%;
    }

    /* 探究心セクション */
    .strange__item-02 {
        top: 45%;
        left: 50%;
        min-height: 701px;
        margin-bottom: 13%;
    }

    .strange__text-02 {
        top: 37%;
        left: -92%;
        width: 142%;
    }

    /* 責任感セクション */
    .strange__item-03 {
        left: 8%;
        width: 80%;
        min-height: 782px;
        margin-bottom: 0;
    }

    .strange__text-03 {
        top: 34%;
        left: 26%;
        width: 75%;
    }

    /* footer */
    /* 背景シェイプ */
    .footer__shape--bg-02 {
        display: none;
    }
    /* 背景シェイプ */
    .footer__shape-bg-sp {
        bottom: 0;
        width: 61%;
    }
}

@media screen and (max-width: 680px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 651px;
    }

    .strange__text-01 {
        top: 36%;
    }

    .strange__item-02 {
        min-height: 604px;
    }

    .strange__text-02 {
        top: 38%;
    }

    .strange__item-03 {
        min-height: 695px;
    }

    .strange__text-03 {
        top: 34%;
    }
}

@media screen and (max-width: 600px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 575px;
    }

    .strange__text-01 {
        top: 36%;
    }

    .strange__item-02 {
        min-height: 534px;
    }

    .strange__item-03 {
        min-height: 613px;
    }

    .strange__text-03 {
        top: 34%;
    }
}

@media screen and (max-width: 550px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 527px;
    }

    .strange__item-02 {
        min-height: 489px;
    }

    .strange__item-03 {
        min-height: 562px;
    }

    .strange__text-03 {
        top: 34%;
    }
}

@media screen and (max-width: 500px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 478px;
    }

    .strange__item-02 {
        min-height: 445px;
    }

    .strange__item-03 {
        min-height: 510px;
    }
}

@media screen and (max-width: 450px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 430px;
    }

    .strange__item-02 {
        min-height: 400px;
    }

    .strange__item-03 {
        min-height: 459px;
    }
}

@media screen and (max-width: 400px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 382px;
    }

    .strange__text-01 {
        top: 36%;
    }

    .strange__item-02 {
        min-height: 357px;
    }

    .strange__item-03 {
        min-height: 408px;
    }
}

@media screen and (max-width: 360px) {
    /* strangeセクション3つの強みの高さをデバイス幅に合わせて調整 */
    .strange__item-01 {
        min-height: 335px;
    }

    .strange__text-01 {
        top: 36%;
    }

    .strange__item-02 {
        min-height: 311px;
    }

    .strange__item-03 {
        min-height: 357px;
    }

    .strange__text-03 {
        top: 34%;
    }
}
