@charset "utf-8";

/* profileセクション */
.profile {
    max-width: 1366px;
    padding-top: 6.5vw;
}

.profile_inner {
    display: flex;
    position: relative;
}

.profile_shape {
    background: url(../images/profile_shape.svg) no-repeat;
    position: absolute;
    top: -1.098vw;
    left: 9.5vw;
    width: 17vw;
    height: 12.445vw;
    background-size: contain;
}

.profile_shape img {
    width: 17vw;
}

.profile_title {
    background: url(/images/about_title.png) no-repeat;
    position: absolute;
    top: 0;
    left: 4.4vw;
    width: 7vw;
    height: 35.6515vw;
    background-size: contain;
}

.profile_title img {
    width: 7vw;
}

.profile_content {
    width: 60.2489vw;
    margin: 0 auto;
    text-align: center;
}

.profile_img {
    margin-bottom: 2vw;
}

.profile_img img {
    width: 37.7vw;
}

.profile_name {
    margin-bottom: 1.4641vw;
    font-size: 35px;
    line-height: 1;
    text-align: center;
}

.profile_text {
    font-size: 24px;
    margin: -0.8784vw 0;
    line-height: 1.8em;
    text-align: left;
}

.indent {
    padding-left: 1em;
}

/* strangeセクション  */
.strange {
    max-width: 1366px;
    margin: 0 auto;
    padding-top: 24.5vw;
}

.strange_inner {
    position: relative;
    /* height: 2037px; */
    height: 2131px;
}

.strange_shape01 {
    position: absolute;
    top: -35.5vw;
    z-index: -1;
}
.strange_shape02 {
    position: absolute;
    left: 57.3vw;
}

.strange_shape02 img {
    width: 15vw;
}

.strange_title {
    position: relative;
    padding-top: 1.9765vw;
    text-align: center;
}

.strange_title_pc img {
    width: 39%;
}

.strange_content_text {
    font-size: var(--font-size18);
    line-height: 1.8em;
}

.strange_content_title {
    margin-bottom: 0.7vw;
    font-size: var(--font-size48);
    line-height: 1em;
}

.strange_content_title_right {
    margin-bottom: 0.7vw;
    font-size: var(--font-size48);
    line-height: 1em;
    text-align: right;
}

.strange_content01 {
    position: absolute;
    top: 15.4vw;
    left: 5.6vw;
    width: 39.9707vw;
}

.strange_content01_inner {
    position: absolute;
    top: 12.8vw;
    left: 32.2vw;
    width: 39vw;
}

.strange_shape03 {
    position: absolute;
    top: 65.3001vw;
    left: 26%;
}

.strange_shape03 img {
    width: 12vw;
}

.strange_content02 {
    position: absolute;
    top: 55.1vw;
    right: 5.7vw;
}

.strange_content02_inner {
    position: absolute;
    top: 12.5vw;
    right: 32vw;
    width: 98%;
}

.strange_shape04 {
    position: absolute;
    top: 63%;
    left: 59%;
}

.strange_shape04 img {
    width: 14vw;
}

.strange_content03 {
    position: absolute;
    top: 64%;
    left: 6%;
    width: 41%;
}

.strange_content03_inner {
    position: absolute;
    top: 30%;
    left: 84%;
    width: 96%;
}

@media screen and (max-width: 1294px) {
    .br_pc {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .strange_title_sp {
        display: none;
    }

    .profile_title_sp {
        display: none;
    }

    .strange_img01_sp {
        display: none;
    }

    .strange_img02_sp {
        display: none;
    }

    .strange_img03_sp {
        display: none;
    }

    .strange_shape_sp {
        display: none;
    }

    .footer_shape_sp {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .profile_shape {
        position: absolute;
        top: -25px;
        left: 17%;
    }

    .profile_shape img {
        width: 14vw;
    }

    .profile_title {
        display: none;
    }

    .profile_title_sp {
        position: absolute;
        top: 0;
        left: 5%;
    }

    .profile_title_sp img {
        width: 10vw;
    }

    .profile_img {
        margin-bottom: 16px;
    }

    .profile_img img {
        width: 60vw;
    }

    .profile_text {
        font-size: 3.7vw;
        line-height: 1.7;
    }

    .strange {
        padding-top: 30.29vw;
    }

    .strange_title {
        padding-top: 20px;
    }

    .strange_shape01 {
        top: -79vw;
    }

    .strange_shape_sp {
        position: absolute;
        top: 56%;
    }

    .profile_name {
        margin-bottom: 31px;
        font-size: 3.7vw;
    }

    .strange_title_pc {
        display: none;
    }

    .strange_title_sp img {
        width: 38.77284vw;
    }

    .strange_content01 {
        top: 8%;
        left: 7%;
        width: 80%;
    }

    .strange_img01 {
        display: none;
    }

    .strange_img01_sp img {
        width: 53%;
    }

    .strange_content01_inner {
        top: 71%;
        left: 28%;
        width: 72%;
    }

    .strange_content_title {
        margin-bottom: 16px;
        font-size: 46px;
    }

    .strange_content_text {
        font-size: 26px;
        line-height: 1.8;
    }

    .strange_shape03 {
        top: 48%;
        left: 27%;
    }

    .strange_img02 {
        display: none;
    }

    .strange_img02_sp img {
        width: 92%;
    }

    .strange_content02 {
        top: 45%;
        left: 50%;
    }

    .strange_content02_inner {
        top: 79%;
        right: 54%;
        width: 125%;
    }

    .strange_shape04 {
        top: 67%;
        left: 75%;
    }

    .strange_shape04 img {
        width: 13vw;
    }

    .strange_content03 {
        top: 81%;
        left: 8%;
        width: 80%;
    }

    .strange_img03 {
        display: none;
    }

    .strange_img03_sp img {
        width: 53%;
    }

    .strange_content03_inner {
        top: 73%;
        left: 26%;
        width: 72%;
    }
}

@media screen and (max-width: 767px) {
    .profile_title_sp img {
        width: 11vw;
    }
}
